<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
   
   {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-12 col-12 main_header_left  align-items-center">
                        <figure class="errimg">
                            <img src="image/4042.png" alt="about img" class="img-fluid" title="nayan solanki">
                        </figure>
                    
                        <p>Welcome to Weather app</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>

                    <!-- Right side div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
  {{>footer}}

</body>

</html>